html(lang='en')
  head
    meta(charset='utf-8')

    title Roadwarden | Moral Anxiety Studio
    meta(name='description' content='Roadwarden is an an illustrated text-based RPG in which you explore and change a hostile, grim realm.')
    meta(name='keywords' content='Roadwarden, Roadwarden game, Moral Anxiety Studio, visual novel, narrative game, text-based game, RPG game')

    //- og-properties
    meta(property='og:url' content='http://www.moralanxietystudio.com')
    meta(property='og:type' content='website')
    meta(property='og:title' content='Roadwarden | Moral Anxiety Studio')
    meta(property='og:description' content='Roadwarden is an an illustrated text-based RPG in which you explore and change a hostile, grim realm.')
    meta(property='og:image' content='http://www.moralanxietystudio.com/assets/images/roadwarden/preview.png')
    //- end of og-properties

    //- favicons
    link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
    link(rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
    link(rel="manifest" href="manifest.json")
    meta(name="msapplication-TileColor" content="#FCE08E")
    meta(name="msapplication-TileImage" content="ms-icon-144x144.png")
    meta(name="theme-color" content="#FCE08E")
    //- end of favicons

    //- css, js
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/assets/styles/roadwarden.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Alegreya+Sans|Alegreya+Sans+SC')

    script(src='https://code.jquery.com/jquery-3.3.1.min.js' crossorigin='anonymous')
    script(src='https://apis.google.com/js/platform.js')
    script(src='/assets/scripts/application.js')
    //- script(src='/assets/scripts/vendor/vendor.js') - not used currently
    //- end of css and js

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-100079168-1', 'auto');
      ga('send', 'pageview');


  body
    //- Facebook SDK
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = '//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.9&appId=157378907777296';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    //- Youtube SDK
    script.
      function onYtEvent(payload) {
      if (payload.eventType == 'subscribe') {
        ga("send", "social", "YouTube", "subscribe");
      } else if (payload.eventType == 'unsubscribe') {
        ga("send", "social", "YouTube", "unsubscribe");
      }
      }

    header.header-main
      nav.social-links
        a.social-link.facebook(href='https://www.facebook.com/MoralAnxiety/', onclick='ga("send", "social", "Facebook", "click");')
          span Facebook
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 310 310')
            path(d='M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064\
              c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996\
              V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545\
              C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703\
              c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z')
        a.social-link.twitter(href='https://twitter.com/MoralAnxiety', onclick='ga("send", "social", "Twitter", "click");')
          span Twitter
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 310 310')
            path(d='M302.973,57.388c-4.87,2.16-9.877,3.983-14.993,5.463c6.057-6.85,10.675-14.91,13.494-23.73\
            c0.632-1.977-0.023-4.141-1.648-5.434c-1.623-1.294-3.878-1.449-5.665-0.39c-10.865,6.444-22.587,11.075-34.878,13.783\
            c-12.381-12.098-29.197-18.983-46.581-18.983c-36.695,0-66.549,29.853-66.549,66.547c0,2.89,0.183,5.764,0.545,8.598\
            C101.163,99.244,58.83,76.863,29.76,41.204c-1.036-1.271-2.632-1.956-4.266-1.825c-1.635,0.128-3.104,1.05-3.93,2.467\
            c-5.896,10.117-9.013,21.688-9.013,33.461c0,16.035,5.725,31.249,15.838,43.137c-3.075-1.065-6.059-2.396-8.907-3.977\
            c-1.529-0.851-3.395-0.838-4.914,0.033c-1.52,0.871-2.473,2.473-2.513,4.224c-0.007,0.295-0.007,0.59-0.007,0.889\
            c0,23.935,12.882,45.484,32.577,57.229c-1.692-0.169-3.383-0.414-5.063-0.735c-1.732-0.331-3.513,0.276-4.681,1.597\
            c-1.17,1.32-1.557,3.16-1.018,4.84c7.29,22.76,26.059,39.501,48.749,44.605c-18.819,11.787-40.34,17.961-62.932,17.961\
            c-4.714,0-9.455-0.277-14.095-0.826c-2.305-0.274-4.509,1.087-5.294,3.279c-0.785,2.193,0.047,4.638,2.008,5.895\
            c29.023,18.609,62.582,28.445,97.047,28.445c67.754,0,110.139-31.95,133.764-58.753c29.46-33.421,46.356-77.658,46.356-121.367\
            c0-1.826-0.028-3.67-0.084-5.508c11.623-8.757,21.63-19.355,29.773-31.536c1.237-1.85,1.103-4.295-0.33-5.998\
            C307.394,57.037,305.009,56.486,302.973,57.388z')

        a.social-link.youtube(href='https://www.youtube.com/channel/UCqORtPfGLasjXPUJwch5IDA', onclick='ga("send", "social", "YouTube", "click");')
          span YouTube
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='90.677px', height='90.677px', viewbox='0 0 90.677 90.677')
            path(d='M82.287,45.907c-0.937-4.071-4.267-7.074-8.275-7.521c-9.489-1.06-19.098-1.065-28.66-1.06\
            c-9.566-0.005-19.173,0-28.665,1.06c-4.006,0.448-7.334,3.451-8.27,7.521c-1.334,5.797-1.35,12.125-1.35,18.094\
            c0,5.969,0,12.296,1.334,18.093c0.936,4.07,4.264,7.073,8.272,7.521c9.49,1.061,19.097,1.065,28.662,1.061\
            c9.566,0.005,19.171,0,28.664-1.061c4.006-0.448,7.336-3.451,8.272-7.521c1.333-5.797,1.34-12.124,1.34-18.093\
            C83.61,58.031,83.62,51.704,82.287,45.907z M28.9,50.4h-5.54v29.438h-5.146V50.4h-5.439v-4.822H28.9V50.4z M42.877,79.839h-4.629\
            v-2.785c-1.839,2.108-3.585,3.136-5.286,3.136c-1.491,0-2.517-0.604-2.98-1.897c-0.252-0.772-0.408-1.994-0.408-3.796V54.311\
            h4.625v18.795c0,1.084,0,1.647,0.042,1.799c0.111,0.718,0.462,1.082,1.082,1.082c0.928,0,1.898-0.715,2.924-2.166v-19.51h4.629\
            L42.877,79.839L42.877,79.839z M60.45,72.177c0,2.361-0.159,4.062-0.468,5.144c-0.618,1.899-1.855,2.869-3.695,2.869\
            c-1.646,0-3.234-0.914-4.781-2.824v2.474h-4.625V45.578h4.625v11.189c1.494-1.839,3.08-2.769,4.781-2.769\
            c1.84,0,3.078,0.969,3.695,2.88c0.311,1.027,0.468,2.715,0.468,5.132V72.177z M77.907,67.918h-9.251v4.525\
            c0,2.363,0.773,3.543,2.363,3.543c1.139,0,1.802-0.619,2.066-1.855c0.043-0.251,0.104-1.279,0.104-3.134h4.719v0.675\
            c0,1.491-0.057,2.518-0.099,2.98c-0.155,1.024-0.519,1.953-1.08,2.771c-1.281,1.854-3.179,2.768-5.595,2.768\
            c-2.42,0-4.262-0.871-5.599-2.614c-0.981-1.278-1.485-3.29-1.485-6.003v-8.941c0-2.729,0.447-4.725,1.43-6.015\
            c1.336-1.747,3.177-2.617,5.54-2.617c2.321,0,4.161,0.87,5.457,2.617c0.969,1.29,1.432,3.286,1.432,6.015v5.285H77.907z')
            path(d='M70.978,58.163c-1.546,0-2.321,1.181-2.321,3.541v2.362h4.625v-2.362C73.281,59.344,72.508,58.163,70.978,58.163z')
            path(d='M53.812,58.163c-0.762,0-1.534,0.36-2.307,1.125v15.559c0.772,0.774,1.545,1.14,2.307,1.14\
            c1.334,0,2.012-1.14,2.012-3.445V61.646C55.824,59.344,55.146,58.163,53.812,58.163z')
            path(d='M56.396,34.973c1.705,0,3.479-1.036,5.34-3.168v2.814h4.675V8.82h-4.675v19.718c-1.036,1.464-2.018,2.188-2.953,2.188\
            c-0.626,0-0.994-0.37-1.096-1.095c-0.057-0.153-0.057-0.722-0.057-1.817V8.82h-4.66v20.4c0,1.822,0.156,3.055,0.414,3.836\
            C53.854,34.363,54.891,34.973,56.396,34.973z')
            path(d='M23.851,20.598v14.021h5.184V20.598L35.271,0h-5.242l-3.537,13.595L22.812,0h-5.455c1.093,3.209,2.23,6.434,3.323,9.646\
            C22.343,14.474,23.381,18.114,23.851,20.598z')
            path(d='M42.219,34.973c2.342,0,4.162-0.881,5.453-2.641c0.981-1.291,1.451-3.325,1.451-6.067v-9.034\
            c0-2.758-0.469-4.774-1.451-6.077c-1.291-1.765-3.11-2.646-5.453-2.646c-2.33,0-4.149,0.881-5.443,2.646\
            c-0.993,1.303-1.463,3.319-1.463,6.077v9.034c0,2.742,0.47,4.776,1.463,6.067C38.069,34.092,39.889,34.973,42.219,34.973z\
            M39.988,16.294c0-2.387,0.724-3.577,2.231-3.577c1.507,0,2.229,1.189,2.229,3.577v10.852c0,2.387-0.722,3.581-2.229,3.581\
            c-1.507,0-2.231-1.194-2.231-3.581V16.294z')

        a.social-link.email(href='mailto:moralanxietystudio@gmail.com')
          span Contact Us
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 485.411 485.411')
            path(d='M0,81.824v321.763h485.411V81.824H0z M242.708,280.526L43.612,105.691h398.187L242.708,280.526z\
            M163.397,242.649L23.867,365.178V120.119L163.397,242.649z M181.482,258.533l61.22,53.762l61.22-53.762L441.924,379.72H43.487\
            L181.482,258.533z M322.008,242.655l139.535-122.536v245.059L322.008,242.655z')
  

        a.social-link.steam(href='https://store.steampowered.com/app/1155970/Roadwarden/', onclick='ga("send", "store", "Steam", "click");')
          span Steam
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 49 49')
            g(transform='matrix(1.16875 0 0 1.16875-453.29-587.31)')
              circle(transform='matrix(.8076 0 0 .8076 66.28 74.824)', cx='423.59', cy='555.01', r='25.427', fill-rule='evenodd')
              g(fill='url(#1)')
                path(d='m408.32 505.05c9.972 0 18 8.03 18 18 0 9.972-8.03 18-18 18-8.212 0-15.1-5.45-17.273-12.941l6.871 2.758c.52 2.388 2.648 4.184 5.188 4.184 2.751 0 5.02-2.109 5.285-4.793l6.812-4.984c3.928 0 7.117-3.178 7.117-7.105 0-3.929-3.189-7.117-7.117-7.117-3.907 0-7.078 3.152-7.113 7.05l-4.434 6.352c-.181-.018-.365-.028-.551-.028-.991 0-1.916.271-2.711.746l-9.973-4.01c.94-9.08 8.566-16.11 17.898-16.11')
                path(d='m415.22 514.33c-2.103 0-3.809 1.709-3.809 3.813 0 2.103 1.705 3.812 3.809 3.812 2.104 0 3.813-1.709 3.813-3.812 0-2.104-1.709-3.813-3.813-3.813')
                path(d='m403.11 525.83c2.165 0 3.906 1.741 3.906 3.906 0 2.165-1.741 3.906-3.906 3.906-1.506 0-2.805-.841-3.457-2.082.642.259 1.284.516 1.926.777 1.592.64 3.407-.13 4.047-1.723.64-1.592-.138-3.399-1.73-4.04l-1.629-.652c.271-.058.554-.094.844-.094')

      nav.page-links
        a.page-link.active(href='/') Roadwarden
        a.page-link(href='/tales-from-windy-meadow') Tales From Windy Meadow
        div.page-link-dropdown
          div.page-link.page-link-dropdown__title Other projects
          ul.page-link-dropdown__list
            li
              a.page-link(href='/tavern') The Tavern

    section#story.introduction-section
      .grid
        .row
          .col.logo-col
            a.logo-wrapper(href='https://store.steampowered.com/app/1155970/Roadwarden/', onclick='ga("send", "store", "Roadwarden Steam", "click");')
              img.logo(src='assets/images/roadwarden/Roadwarden_Logo_Light_x8.png')
        .row
          .col.col-desktop-8.col-desktop-offset-2
            p.introduction-text
              strong &#32;Roadwarden&#32;
              | is an&nbsp;illustrated text-based&nbsp;RPG in&nbsp;which
              strong &#32;you&nbsp;explore and&nbsp;change a&nbsp;hostile,&nbsp;grim&nbsp;realm.

        .row
          .col
            .introduction-gallery
              a.introduction-image(href='assets/images/roadwarden/screenshot0001.png' target = "_blank")
                img(src='assets/images/roadwarden/screenshot0001.png' alt='Roadwarden camp')
              a.introduction-image(href='assets/images/roadwarden/screenshot0002.png' target = "_blank")
                img(src='assets/images/roadwarden/screenshot0002.png' alt='Roadwarden crossroads')          
              a.introduction-image(href='assets/images/roadwarden/screenshot0003.png' target = "_blank")
                img(src='assets/images/roadwarden/screenshot0003.png' alt='Roadwarden dolmen')

          //- .col.col-desktop-10.col-desktop-offset-1
          //-   p Everyone knows to stay away from the wilderness. Most people would never risk a a lonely journey.            
          //-   p Roadwardens not only accept this struggle, they embrace it.
          //-   p They deliver messages, assist merchants, burn human corpses and, if possible, get rid of beasts and highwaymen.
          //-   p They live on the road, die young or retire early.
          //-   p It’s a dangerous job, but a respectable one. And it pays well.

          .col
            a(href='assets/images/roadwarden/prologue.png' target = "_blank")
              img.introduction-image.main(src='assets/images/roadwarden/prologue.png' alt='Roadwarden prologue')

          .col
            .introduction-gallery
              a.introduction-image(href='assets/images/roadwarden/screenshot0004.png' target = "_blank")
                img(src='assets/images/roadwarden/screenshot0004.png' alt='Roadwarden dolmen inside')
              a.introduction-image(href='assets/images/roadwarden/screenshot0005.png' target = "_blank")
                img(src='assets/images/roadwarden/screenshot0005.png' alt='Roadwarden room')          
              a.introduction-image(href='assets/images/roadwarden/screenshot0006.png' target = "_blank")
                img(src='assets/images/roadwarden/screenshot0006.png' alt='Roadwarden inventory')              

    section#characters.features-section
      .grid
        .row.features-header-row
          .col
            h2 Features
        
        .row
          .col-4.col-mobile-12.image-col
            a(href='assets/images/roadwarden/ruinedvillage01.png' target = "_blank")
              img(src='assets/images/roadwarden/ruinedvillage01.png' alt='Roadwarden ruined village')

          .col.col-7.col-desktop-offset-1.col-mobile-12.text-col
            ul.features-list
              li 
                strong &#32;Explore and change the world.&#32;
                | Travel through a detailed fantasy setting filled with secrets, challenges and uniquely harsh lore.
              li 
                strong &#32;Have immersive conversations.&#32;
                | To gain support of dozens of NPCs, you need to earn their trust during complex dialogues and sidequests.
              li 
                strong &#32;Create your own character through role-playing and decisions.&#32;
                | Shape your background, abilities, beliefs and personality.
              li 
                strong &#32;Unveil the local mysteries.&#32;
                | Investigate, use your wit and make connections to understand the true nature of this realm.
              li 
                strong &#32;Overcome your weaknesses.&#32;
                | The wilderness is full of dangers and you can trust nobody. Find your path to success against all odds.


    section#demo.download-section
      h2 Demo
      div
        a(href='https://drive.google.com/file/d/1WXiTtA0G2m6zVIzr0oNOWwi2JpwID91D/view?usp=sharing', onclick='ga("send", "event", "download", "Roadwarden demo");')
          button.btn.download-demo Demo - Windows & Linux
      div
        a(href='https://drive.google.com/file/d/1cmCGCTzBBjTmB_PPbdrl-iPXXRTOryx7/view?usp=sharing', onclick='ga("send", "event", "download", "Roadwarden demo");')
          button.btn.download-demo Demo - Mac

      h2 Press kit
      a(href="/presskit/roadwarden")
        button.btn.presskit See press kit

      h2.soundcloud-header Soundcloud
      .soundcloud-wrapper
        iframe(width="100%" height="320" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/892033939&color=%23f6d6bd&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true")

    section#faq.faq-section
      .grid
        .row
          .col.col-desktop-10.col-desktop-offset-1
            h2 Frequently Asked Questions

            .faq-question-wrapper
              p.faq-question
                | Q: I can’t figure out what is this game’s genre.
              p.faq-ansqwer                
                p A: Me neither. ; ) It has a lot of conversations and items to use, like an adventure game, and focuses strongly on the player’s character, so it’s like an RPG. An RPG with very small amount of combat, if this makes any sense. However, it also has a lot of narration and text in general, so it’s like a Visual Novel as well. And it has some gamebook-like branching scenes and invites the player to solve some puzzles by writing, so it has a pinch of an old school text adventure game...
                p Feel free to send me some ideas how to call this RPG/Visual Novel/text adventure hybrid. For now, you can say it’s an interactive fiction that tries to do some crazy stuff.
            .faq-question-wrapper
              p.faq-question
                | Q: How much combat can I expect from the game?
              p.faq-ansqwer
                | A: There’s a couple of events that involve combat, and they are based on decision making and preparing your character for the encounter. However, violence is just one of many activities that take place in the larger story, not the most prevalent one, nor the most important one.
            .faq-question-wrapper
              p.faq-question
                | Q: Some things that I saw so far could look or be written better.
              p.faq-ansqwer
                | A: Please send me your feedback! The game is still in an early stage of development. I’m going to experiment, explore some new mechanics, remove some scenes that won’t turn out as great as I want them to be... I’m more than happy to see your criticism!
            .faq-question-wrapper
              p.faq-question
                | Q: Is this set in the same fantasy setting as Tales From Windy Meadow or The Tavern?
              p.faq-ansqwer
                | A: It sure is! Though Roadwarden isn’t completely faithful to the previous games. The Viaticum setting was refreshed in many ways, but the general spirit of constant threat presented by nature is still very much in here.
            .faq-question-wrapper
              p.faq-question
                | Q: How long is this game?
              p.faq-answer
                | A: I’m currently aiming at 
                strong &#32;10+ hours
                |, but it strongly depends on how fast can you read and in how many quests are you going to involve your character. Just remember that the traveling in Roadwarden is very fast, so you won’t pointlessly walk around or fetch items from one part of the map to another. All things are played quickly, with no grind to deal with.
            .faq-question-wrapper
              p.faq-question
                | Q: Are you going to support languages other than English?
              p.faq-ansqwer
                | A: Only if the game becomes a large success.
            .faq-question-wrapper
              p.faq-question
                | Q: What about platforms other than Windows / Linux / Mac?
              p.faq-ansqwer
                | A: If the game turns out to be a success, I’ll be happy to work on some mobile ports.
            .faq-question-wrapper
              p.faq-question
                | Q: When can I expect the release?
              p.faq-ansqwer
                | A: We aim at 
                strong &#32;the first half of 2021.
            .faq-question-wrapper
              p.faq-question
                | Q: How about a pixel font instead of the one I saw in the screenshots?
              p.faq-answer
                | A: You can actually use the game’s settings to switch to a pixel font whenever you want! But I’d guess that after thirty minutes or a couple of hours you may agree with me that pixel fonts are not really that comfortable to read. Nevertheless, if you think it’s more pleasant to you, it’s available. 
            .faq-question-wrapper
              p.faq-question
                | Q: Is there any devlog I can follow?
              p.faq-ansqwer
                | A: 
                a(href="https://moral-anxiety.itch.io/roadwarden/devlog") This Itch.io page
                | is going to contain all the largest updates.
            .faq-question-wrapper
              p.faq-question
                | Q: What software do you use to draw?
              p.faq-answer
                | A: I use Pyxel Edit.


    section.social-section
      .grid
        .row
          .col.col-desktop-5.col-desktop-offset-1
            h2
              | Follow us
              br
              | for updates!
          .col.col-6.col-mobile-12
            //- .social-link.steam
            //-   h4 Steam         
            //-   iframe(src="https://store.steampowered.com/widget/875660/", frameborder="0", width="646", height="190")

            .social-link.twitter
              h4 Twitter
              script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
              a.twitter-follow-button(href='https://twitter.com/MoralAnxiety', onclick='ga("send", "social", "Twitter", "follow");', data-show-count='false', data-size='large' data-dnt='true') Follow @MoralAnxiety

            .social-link.facebook
              h4 Facebook
              .fb-page(data-href='https://www.facebook.com/moralanxiety', data-width='300', data-height='70', data-small-header='true', data-adapt-container-width='false', data-hide-cover='false', data-show-facepile='false')
                blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/moralanxiety')
                  a(href='https://www.facebook.com/moralanxiety') Moral Anxiety Studio

            .social-link.youtube
              h4 YouTube
              .g-ytsubscribe(data-channelid='UCqORtPfGLasjXPUJwch5IDA', data-layout='full', data-theme='light', data-count='hidden', data-onytevent='onYtEvent')

    footer.footer-main
      span
        .footer-info
          span Icons: 
          a(href='http://www.freepik.com') freepik.com
        .footer-info
          span Website: 
          span Joanna Falkowska
        .footer-info
          span © Moral Anxiety Studio 2019