doctype html
html(lang="en")
  head
    title Moral Anxiety Studio
    meta(name="viewport" content="width=device-width, initial-scale=1")
  
    link(rel="stylesheet" href=rev('styles/application.css'))
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700")

    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src=rev('scripts/vendor/vendor.js'))
    script(src=rev('scripts/application.js'))
  

  body
    block content