.header-main
  position: fixed
  top: 0
  z-index: 5
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  height: $header-height
  background-color: $header-background
  font-size: 22px
  color: $header-link-color
  white-space: nowrap

  .header-links
    display: flex

  .header-link
    +square(45px)
    +background-icon
    display: block
    position: relative
    font-size: 0
    svg
      +center-xy
      +square(60%)
      position: absolute

    &:not(.steam)
      path
        fill: $header-link-color
      &:hover path
        fill: $header-link-color-hover
    &.steam
      path
        fill: $header-background
      circle
        fill: $header-link-color
      &:hover circle
        fill: $header-link-color-hover

  .header-link + .header-link
    margin-left: 20px

  .page-links
    display: flex

  .page-link
    font-family: $font-family-sc
    font-weight: 600;
    letter-spacing: 1.5px;
    display: inline-block
    height: $header-height
    line-height: $header-height
    padding: 0 20px
    &:hover
      color: $header-link-color-hover

  .active
    color: $header-link-color-active
    pointer-events: none

  .page-link-dropdown
    position: relative

    &__title
      pointer-events: none

    &__list
      position: fixed
      width: 100%
      display: none

    &:hover
      background: lighten($header-background, 5%)

      .page-link-dropdown__list
        background: lighten($header-background, 5%)
        display: block

  @media (max-width: $breakpoint-tablet)
    .page-link-dropdown, .active,
      display: none

  @media (max-width: $breakpoint-mobile)
    justify-content: center
    .page-links
      display: none
