.features-section, .faq-section
  background: $roadwarden-background-dark

.introduction-section
  text-align: center
  font-size: (28rem/20)
  line-height: 1.5

  .logo
    max-width: 800px
    width: 100%
  @media (max-width: $breakpoint-mobile)
    .logo-wrapper
      width: 100%

  .introduction-text
    font-size: (36rem/20)
    margin: 40px 0 100px

  .introduction-steam-wrapper
    margin-bottom: 100px

  .introduction-trailer
    margin-bottom: 100px

.features-section
  ul.features-list
    list-style-type: circle
    li
      display: list-item
    li + li
      margin-top: 40px

.download-section
  padding: 100px 0

  .stores-subsection
    margin-bottom: 100px
    h2
      margin-bottom: 30px
  .demo-subsection
    margin-bottom: 80px

  .btn
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 20px 50px

    text-align: center
    white-space: nowrap
    color: $btn-color
    font-size: (24rem/20)
    font-weight: 600
    font-family: $font-family-sc

    background-color: transparent
    background-size: 100% 200%
    transition: background-position 0.2s

    .btn-icon
      height: 1.5rem
      margin-right: 10px
      path
        fill: $body-color
      &.steam-icon
        path
          fill: $body-background
        circle
          fill: $body-color
    &.btn-store
      flex-direction: column
      .btn-icon
        height: 150px
        width: auto
        margin: 0 0 50px
      @media (min-width: $breakpoint-mobile + 1px)
        &+.btn-store
          margin-left: 30px
    &:hover
      background-position: 0 100%
      background-image: linear-gradient(to bottom, transparent 50%, rgba(white, 0.09) 50%)
    &:active
      background-image: linear-gradient(to bottom, transparent 50%, rgba(white, 0.18) 50%)
    @media (max-width: $breakpoint-tablet)
      line-height: 1
      padding: 15px 20px

.updates-section
  .steam-wrapper
    max-width: 500px

.faq-section
  font-size: 1rem
