// palette

$palette-off-white: #fff1e5
$palette-light-beige: #f6d6bd
$palette-beige: #c3a38a
// $palette-beige: #cac1b9
// $palette-grey-beige: #b3b2b0;
// $palette-grey-beige: #b1a69d
// $palette-grey-beige: #a49081;
$palette-dark-blue: #0f2a3f

$roadwarden-background: #135D6E
$roadwarden-background-dark: $palette-dark-blue


// variables

$body-background: $roadwarden-background
$body-color: $palette-off-white
$link-color: $palette-light-beige

$header-background: $roadwarden-background
$header-link-color: $palette-light-beige
$header-link-color-hover: darken($palette-light-beige, 20%)
$header-link-color-active: $palette-light-beige // unused but necessary to define
$font-size: 24px
$font-family: 'Alegreya Sans', sans-serif
$font-family-sc: 'Alegreya Sans SC', sans-serif

$selection-background: rgba($palette-beige, 0.9)
$selection-color: $palette-off-white

$footer-color: $palette-off-white

$image-shadow: $palette-dark-blue

$btn-color: $palette-light-beige
