$body-background: black
$body-color: $off-white

$header-background: black
$header-link-color: $nobel
$header-link-color-hover: $off-white
$header-link-color-active: $lemon

$font-size: 20px
$font-family: 'Alegreya Sans', sans-serif
$font-family-sc: 'Alegreya Sans SC', sans-serif

$selection-background: rgba($lemon, 0.9)
$selection-color: $mine-shaft

$footer-color: $nobel