@function rem-calc($size)
  @return $size / $font-size * 1rem

html, body
  font-family: $font-family
  font-size: $font-size
  line-height: 1.3
  font-weight: 400
  color: $body-color

h1
  font-size: rem-calc($h1-scale)
  font-weight: 300
  font-family: $font-family-sc

h2
  font-size: rem-calc($h2-scale)
  font-weight: 300
  text-align: center
  font-family: $font-family-sc

h3
  font-size: rem-calc($h3-scale)
  font-weight: 300
  font-family: $font-family-sc

h4
  font-size: rem-calc($h4-scale)
  font-weight: 400
  font-family: $font-family-sc

h5
  font-size: rem-calc($h5-scale)
  font-weight: 300
  font-family: $font-family-sc

a
  color: $link-color
  &:hover, &:focus
    color: $link-color-hover
  &:active
    color: $link-color-active

.warning
  font-size: rem-calc(14px)

::selection
  background-color: $selection-background
  color: $selection-color
::-moz-selection
  background-color: $selection-background
  color: $selection-color

strong::after, strong::before // fixes no space
  content: ' '
