/*** COLORS ***/

$black: #000000
$white: #ffffff


//off-white
$off-white: #e6e6e6

// grey
$cod-gray: #1a1a1a
$mine-shaft: #3c3c3c
$nobel: #b3b3b3

// yellow
$lemon: #fffb05

// blue
$big-stone: #12213b
$malibu: #95d6f9
$sail: #bce5fb
$iceberg: #c7eafe
$hawkes: #d1eefc
$foam: #def3fc

// green
// $wasabi: #86bd37
$malachite: #02bd31

// orange
$peach: #ffeba8

//brown
$piper: #c76029

// $dust: #979797
// $chalice: #9d9d9d
// $alto: #cecece
// $gallery: #efefef
// $wild-sand: #f5f5f5

// // purple
// $indigo: #6450d8
// $selago: #f7f6fd

// // blue
// $pacific: #00b1c1
// $spray: #86e3eb

// // pink
// $perfume: #e2b9f6


/*** DEFAULT COLOR VALUES ***/
$btn-color: $lemon



/*** GRID ***/
$columns: 12
$gutter: 20px

$breakpoint-desktop: 1060px
$breakpoint-tablet: 768px
$breakpoint-mobile: 568px

/*** LAYOUT ***/
$header-height: 65px


