$body-color: #142542

$_logo1: #b57937
$_logo2: #885b29

$_river-dark: #345c82
$_river-light: #4e7999

$_sky1: #225ad3
$_sky2: #3068d7
$_sky3: #4e80e1
$_sky4: #5189f0

$_sky2_desaturated: #3e6dcc

$_background-light: #c9e3fd
$_background-dark: darken($_background-light, 8%)

@font-face
  font-family: monogram-extended;
  src: url('/public/monogram-extended.ttf')

$body-background: $_background-light
$link-color: #3e6dcc
$link-color-hover: #0052f5
$link-color-active: #b57937

$header-background: $_background-dark
$header-link-color: #3e6dcc
$header-link-color-hover: #0052f5
$header-link-color-active: #b57937
$header-link-color-current: #2c2f67

$font-size: 24px
$font-family: 'Alegreya Sans', sans-serif
$font-family-sc: monogram-extended, sans-serif
// rescale the headers because monogram font is weird
$h1-scale: $h1-scale * 1.8
$h2-scale: $h2-scale * 1.8
$h3-scale: $h3-scale * 1.8
$h4-scale: $h4-scale * 1.8
$h5-scale: $h5-scale * 1.8

$selection-background: rgba(#b57937, 0.9)
$selection-color: $body-color

$footer-color: $body-color

$vena-background-color: #7fb1b8
$fabel-background-color: #a0853b
$iudicia-background-color: #cece69
$map-background-color: #bce7b1
$map-background-color: #79cf63

$image-shadow: lighten($_river-light, 20%)

$btn-color: $body-color

